#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: joselazarte
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHuUA6wTqN1uL4rr1+p/ImDjlqljIOKTwPbsO+mcIvzKyvmMxTNEBB98FPOiJ6FNe/Znbse3YGj/JYa/Txv4SIysxqbaHPJNxRrQ6WyDUyEuNtRYND5/fg8E3YEJNxm5M10PkJTVkjIaf9/C0QBMyUgQs6RpiKo2sxxRyohJsjmsWwk2+km09tsOL3UUH3FjMcWxn0MT5DbB+/xNxMSMughpHw4ib1UH7sRz2WyIDnC/y3EqMduCxjAk5gF7Z1UToMG7ECnuNjwkw0dtgkF2mMIxi8bZdOxOVoYBWzyhoavA7s3PH1DtpBX+1D0lIQqSlZOKFFiISzusxenCTEBH33 joselazarte@joselazarte-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
